<div class="bi-wrapper card">
    <div id="in-list" class=" card-body disp item">
    </div>
    <div id="in-list-pr" class="bg-text prod-text item">
        <span class="card-text" ><%= product.title %></span> 
    </div>
        <div id="pr" style="background-image: url('<%= product.icon %>') ;" class="prod bg-image card-body">
        </div>
        <div id="pr" class="bg-text prod-text">
            <span class="card-text" ><%= product.title %></span> 
        </div>
        <input type="hidden" class="details" value="Add details" style="width: 7rem;">

    </div>
