<div class="col-md-4 mb-5" >
    <div class="card ">
        <div class="card-body">
            <h2 class="card-title"><%= suggestion.title %></h2>
            <div id="item-place" class="none">
            </div>
                <img class="card-img-top" src='<%= suggestion.icon %>' alt="Card image cap">
            <p class="card-text"></p>
        </div>
        <div class="card-footer">
            <div class="d-flex justify-content-around">
                <a id="items" class="btn btn-primary">
                    <svg class="bi bi-plus-square-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M2 0a2 2 0 00-2 2v12a2 2 0 002 2h12a2 2 0 002-2V2a2 2 0 00-2-2H2zm6.5 4a.5.5 0 00-1 0v3.5H4a.5.5 0 000 1h3.5V12a.5.5 0 001 0V8.5H12a.5.5 0 000-1H8.5V4z" clip-rule="evenodd"/>
      </svg> Show items</a>
      <a id="items-hide" class="btn btn-primary none">
        <svg class="bi bi-plus-square-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" d="M2 0a2 2 0 00-2 2v12a2 2 0 002 2h12a2 2 0 002-2V2a2 2 0 00-2-2H2zm6.5 4a.5.5 0 00-1 0v3.5H4a.5.5 0 000 1h3.5V12a.5.5 0 001 0V8.5H12a.5.5 0 000-1H8.5V4z" clip-rule="evenodd"/>
</svg> Hide items</a>
            </div>
        </div>
    </div>
</div>